<!-- image_viewer/templates/image_viewer/image_slideshow_base64.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Image Slideshow</title>
    <style>
        #slideshow {
            max-width: 100%;
            max-height: 80vh;
            margin: auto;
        }

        .nav-button {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Image Slideshow</h1>

    <div id="slideshow-container">
        {% for image in images %}
            <img class="mySlides" src="data:image/png;base64,{{ image.encoded }}" alt="Image">
        {% endfor %}

        <a class="nav-button" onclick="plusSlides(-1)">❮ Previous</a>
        <a class="nav-button" onclick="plusSlides(1)">Next ❯</a>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 1].style.display = "block";
        }
    </script>
</body>
</html>
